[submodule "engine/vendor/glfw"]
	path = engine/vendor/glfw
	url = git@github.com:SamHaskell/glfw.git
[submodule "engine/vendor/imgui"]
	path = engine/vendor/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
